* {margin: 0px; padding: 0px; font-family: 'SF Pro Text', sans-serif;}


#header{
  position: fixed;
  width: 100vw;
  z-index: 10;

}


/* main */
#portada {
  position: relative;
  background-image: url('https://spilup.s3-us-west-1.amazonaws.com/images/background.png');
  background-size: cover;
  height: 100vh;
}
#portada a {text-decoration: none;}
#portada a {color: white;}
#portada h2 {color: white;}
#portada h3 {color: white;}
.socialMedia{
  padding-left: 10px;
  position: absolute;
  bottom: 40vh;
}
.youtube{
  margin-bottom: 5px;
}
/* main */



/* redes sociales */
#youtu img {margin: 9px;}
#facebook img {margin: 9px;}
/* redes sociales */

/* servicios */
#ayuda h5 {color: black;}
#ayuda .card {margin: 5px;}
/* servicios */

/* servicios 2 */
#ayudados .card {margin: 5px;}
/* servicios */

/* formulario */
#formulario form-group {margin: 10px;}
/* formulario


/* footer */
#footer {background-color: #333333;}
#footer h6 {color: white; padding: 15px;}
/* footer */
