/* Colors */
/* #0b0b0b */
/* Icon */
@font-face {
    font-family: "SF Pro Text";
    src: url("../fonts/tipography/SF-Pro-Text-Light.otf");
    src: 
    url("../fonts/tipography/SF-Pro-Text-Light.otf") format("woff"),
    url("../fonts/tipography/SF-Pro-Text-Light.otf") format("opentype"),
    url("../fonts/tipography/SF-Pro-Text-Light.otf") format("svg");
    }

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vtmydu');
    src:  url('../fonts/icomoon.eot?vtmydu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?vtmydu') format('truetype'),
      url('../fonts/icomoon.woff?vtmydu') format('woff'),
      url('../fonts/icomoon.svg?vtmydu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
/* ---Body--- */
body{
    margin: 0;
    height: 100vh;
    position: relative;
    font-family: 'SF Pro Text';
}
/* ---Header--- */
.header {
    width: 100vw;
    height: 44px;
    background: rgba(99, 93, 93, 0.288);
    border: #737373 1px solid;
    display: flex;
    justify-content: center;
    font-size: 15px;
    position: fixed;
    z-index: 3;
}
.headerContainer{
    width: auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu{
    height: inherit;
    width: 44px;
}

.headerContainer a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 110px;
}

.header ol{
    /* display: flex;
    list-style: none; */
    height: inherit;
    padding: 0;
    margin: 0;
}

.header ol li{
    height: inherit;
}

.headerFeaturesContainer{
    display: flex;
    position: absolute;
    right: 3%;
}

.headerFeaturesContainer a:nth-last-of-type(2){
    padding-right: 30px;
}

span{
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
}

/* ---Burguer Menu--- */
.burguer-menu{
    width: 19px;
    height: 19px;
    /* background-color: aquamarine; */
    color: white;
    font-size: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* line-height: 40px; */
    text-align: center;
    /* position: fixed; */
    /* right: 0;
    top: 25px; */
}

.square-menu{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-menu{
    width: 19px;
    height: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;

}

.m{
    width: inherit;
    height: 2px;
    background-color: white;
    margin: 2px 0 ;
}

.bar1{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.bar2{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.change1{
    transform: translateY(3px)  scale(0.84) rotate(45deg);
}

.change2{
    transform: translateY(-3px) scale(0.84) rotate(-45deg);
}

.sidenav{
    height: 100%;
    width: 150px;
    background: rgba(0, 0, 0, 0.4);
    padding: 48px 10px 10px;
    position: fixed;
    z-index: 1  ;
    top: 0;
    right: -200px;
    overflow-x: hidden;
    transition: 0.5s;
}

.cgnav{
    right: 0;
}

.sidenav a{
    color: #BBBBBB;
    font-size: 15px;
    padding: 0px 10px 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #EEEEEE;
}

/* @keyframes rotation1{
    from{
        transform: rotate(0);
        transform: translateY(3px);
    }
    to{
        transform: translateY(3px)  scale(0.84) rotate(45deg);
    }
}

@keyframes rotation2{
    from{
        transform: rotate(0);
        transform: translateY(-3px);
    }
    to{
        transform: translateY(-3px) scale(0.84) rotate(-45deg);
    }
} */


/* ---Conteiner Properties--- */
/* .container{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

/* ---Hero--- */
.hero{
    color: white;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imageContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.imageContainer img{
    width: 100vw;
}
.landingContainer{
    width: 100vw;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                         "link";
}
.linkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    grid-area: link;
}
.landingContainer a{
    background: #bdbdbd;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 10px;
}
.titleContainer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h1{
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    grid-area: titulo;
    font-size: 50px;
    margin: 0;
}


/* .container-hero{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    font-weight: 400;
    font-family:'Fjalla One',sans-serif;
    font-size: 44px;
    'Fjalla One' 450*/
    /* Roboto 550 */
    /* Lato 600
} */

/* canvas */
#c{
    background: #61AFEF;
    position: absolute;
    width: 100%;
    /* height: calc(100vh - 44px); */
    height: 100vh;
}
.heroContainer{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImageContainer{
    width: 100vw;
    height: 100vh;
}
.heroImageContainer img{
    width: 100vw;
    height: 100vh;
}
.heroButtonPlayContainer{
    width: 100vw;
    height: 36px;
    position: absolute;
    bottom: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroButtonPlay{
    width: 80px;
    height: 28px;
    /* position: absolute;
    left: 48%;
    bottom: 5%; */
    border: #707070 3px solid;
    border-radius: 14px;
    background: rgba(59, 57, 57, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroButtonPlay a {
    color: #707070;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
}
.heroButtonPlay a:hover {
    text-decoration: underline;
}


.footer{
    background-color: #F2F2F2;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer{
    width: auto;
}
.footerSocialContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerSocialContainer .facebook{
    background-image: url('../Images/facebook.svg')
}
.socialLink{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-size: 20px 20px;
}

#v{
    width: 100vw;
    /* zoom: 160%; */
    /* left: -70px; */
}

/* 3D section */
.printingContainer{
    width: 100vw;
    height: 100vh;
    background: #FBFBFB;
    position: relative;
}
.printingImageContainer{
    width: 500px;
    height: 320px;
    /* border: black 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(45% - 250px);
    top: 15%;
}
.printingTextContainer{
    position: absolute;
    bottom: 20%;
    left: 30%;
}
.printingTextContainer h2{
    font-size: 33px;
}
.printingButtonPrint{
    position: absolute;
    left: calc(48% - 46px);
    bottom: 5%;
    width: 90px;
    height: 40px;
    border: #BBBBBB 1px solid;
    border-radius: 10px;
    background: rgba(59, 57, 57, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.printingButtonPrint a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.printingButtonPrint a:hover{
    text-decoration: underline;
}
/* .slide{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.4);
    background-image: url('../Images/ghost_recon_wildlands_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* -----Catalog-Games----- */
/* .container-catalog{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    font-weight: 450;
    font-family:'Fjalla One',sans-serif;
    font-size: 42px;
    'Fjalla One' 450*/
    /* Roboto 550 */
    /* Lato 600
} */

/* MEDIA QUERIES */
/* Mobile */
@media screen and (max-width: 376px){
    /* HEADER */
    .header{
        height: 48px;
    }
    .container{
        justify-content: space-between;
    }
    .header a{
        width: 70px;
        padding-left: 6px;
    }
    .header-menu{
        width: 70px;
        justify-content: center;
    }
    .header-menu ol{
        display: flex;
        justify-content: center;
    }
    .square-menu{
        width: 66px;
        justify-content: center;
    }
    .container-menu{
        padding: 0;
    }
    
    .sidenav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 55px 10px 10px;
        right: -100vw;
        height: 100%;
        width: calc(100vw - 20px);
    }
    .cgnav{
        right: 0;
    }
    .sidenav a{
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    /* HERO */
    .hero{
        background-color: black; 
    }
    .hero h1{
        font-size: 30px;
    }

    .video-container{
        background-color: black;
        display: block;
    }
    #v{
        position: absolute;
        zoom: 282%;
        left: -92%;
    }

}
