/* Colors */
/* #0b0b0b */
/* Icon */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vtmydu');
    src:  url('../fonts/icomoon.eot?vtmydu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?vtmydu') format('truetype'),
      url('../fonts/icomoon.woff?vtmydu') format('woff'),
      url('../fonts/icomoon.svg?vtmydu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
/* ---Body--- */
body{
    margin: 0;
    height: 100vh;
}
/* ---Header--- */
.header {
    width: 100%;
    height: 44px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    position: fixed;
    z-index: 3;
}
.header-menu{
    height: inherit;
    width: 44px;
}

.header .container a {
    color: white;
    text-decoration: none;
    /* padding: 0 10px; */
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    align-items: center; */
}

.header ol{
    /* display: flex;
    list-style: none; */
    height: inherit;
    padding: 0;
    margin: 0;
}

.header ol li{
    height: inherit;
}

/* .header.container.image{
    height: 44px;
    width: 44px;
}

.header img{
    width: 44px;
    height: 44px;
} */
/* .tipografia-name{
    font-size: 25px;
} */

.logo{
    background-size: 39px 44px;
    background-repeat: no-repeat;
    background-image: url('../Images/spilup_white_logo.png');
    background-position: center center;
}
span{
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
}

/* ---Burguer Menu--- */
.burguer-menu{
    width: 19px;
    height: 19px;
    /* background-color: aquamarine; */
    color: white;
    font-size: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* line-height: 40px; */
    text-align: center;
    /* position: fixed; */
    /* right: 0;
    top: 25px; */
}

.square-menu{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-menu{
    width: 19px;
    height: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;

}

.m{
    width: inherit;
    height: 2px;
    background-color: white;
    margin: 2px 0 ;
}

.bar1{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.bar2{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.change1{
    transform: translateY(3px)  scale(0.84) rotate(45deg);
}

.change2{
    transform: translateY(-3px) scale(0.84) rotate(-45deg);
}

.sidenav{
    height: 100%;
    width: 150px;
    background: rgba(0, 0, 0, 0.4);
    padding: 48px 10px 10px;
    position: fixed;
    z-index: 1  ;
    top: 0;
    right: -200px;
    overflow-x: hidden;
    transition: 0.5s;
}

.cgnav{
    right: 0;
}

.sidenav a{
    color: #BBBBBB;
    font-size: 15px;
    padding: 0px 10px 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #EEEEEE;
}

/* @keyframes rotation1{
    from{
        transform: rotate(0);
        transform: translateY(3px);
    }
    to{
        transform: translateY(3px)  scale(0.84) rotate(45deg);
    }
}

@keyframes rotation2{
    from{
        transform: rotate(0);
        transform: translateY(-3px);
    }
    to{
        transform: translateY(-3px) scale(0.84) rotate(-45deg);
    }
} */


/* ---Conteiner Properties--- */
.container{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ---Hero--- */
.hero{
    color: white;
    width: 100%;
    height: calc(100vh - 44px);
    background-color: black;
    /* padding-top: 44px; */
    /* margin-top: 44px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero h1{
    text-align: center;
    z-index: 2;
}


.container-hero{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    font-weight: 400;
    font-family:'Fjalla One',sans-serif;
    font-size: 44px;
    /* 'Fjalla One' 450*/
    /* Roboto 550 */
    /* Lato 600 */
}

/* canvas */
#c{
    background: #61AFEF;
    position: absolute;
    width: 100%;
    /* height: calc(100vh - 44px); */
    height: 100vh;
}
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#v{
    width: 100vw;
    /* zoom: 160%; */
    /* left: -70px; */
}

/* -----Catalog-Games----- */
.container-catalog{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    font-weight: 450;
    font-family:'Fjalla One',sans-serif;
    font-size: 42px;
    /* 'Fjalla One' 450*/
    /* Roboto 550 */
    /* Lato 600 */
}

/* MEDIA QUERIES */
/* Mobile */
@media screen and (max-width: 376px){
    /* HEADER */
    .header{
        height: 48px;
    }
    .container{
        justify-content: space-between;
    }
    .header a{
        width: 70px;
        padding-left: 6px;
    }
    .header-menu{
        width: 70px;
        justify-content: center;
    }
    .header-menu ol{
        display: flex;
        justify-content: center;
    }
    .square-menu{
        width: 66px;
        justify-content: center;
    }
    .container-menu{
        padding: 0;
    }
    
    .sidenav{
        height: 100%;
        width: 65px;
    }

    /* HERO */
    .hero{
        background-color: black; 
    }

    .video-container{
        background-color: black;
        display: block;
    }
    #v{
        position: absolute;
        zoom: 200%;
        left: -50%;
    }

}
