body{
    background: white;
    margin: 0;
    
}
/* ---Header--- */
.header {
    width: 100%;
    height: 44px;
    background: #2F2C2E;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    position: fixed;
}
.header-menu{
    height: inherit;
    width: 44px;
}

.header .container a {
    color: white;
    text-decoration: none;
    /* padding: 0 10px; */
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: flex;
    align-items: center; */
}

.header ol{
    /* display: flex;
    list-style: none; */
    height: inherit;
    padding: 0;
    margin: 0;
}

.header ol li{
    height: inherit;
}

.header.container.image{
    height: 44px;
    width: 44px;
}

.header img{
    width: 44px;
    height: 44px;
}
/* .tipografia-name{
    font-size: 25px;
} */

/* ---Burguer Menu--- */
.burguer-menu{
    width: 19px;
    height: 19px;
    /* background-color: aquamarine; */
    color: white;
    font-size: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* line-height: 40px; */
    text-align: center;
    /* position: fixed; */
    /* right: 0;
    top: 25px; */
}

.square-menu{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-menu{
    width: 19px;
    height: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;

}

.m{
    width: inherit;
    height: 2px;
    background-color: white;
    margin: 2px 0 ;
}

.bar1{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.bar2{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.change1{
    transform: translateY(3px)  scale(0.84) rotate(45deg);
}

.change2{
    transform: translateY(-3px) scale(0.84) rotate(-45deg);
}

.sidenav{
    height: 100%;
    width: 150px;
    background-color: #1B2127;
    padding: 44px 10px 10px;
    position: fixed;
    z-index: 1  ;
    top: 0;
    right: -200px;
    overflow-x: hidden;
    transition: 0.5s;
}

.cgnav{
    right: 0;
}

.sidenav a{
    color: #BBBBBB;
    font-size: 15px;
    padding: 0px 10px 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.container{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidenav a:hover{
    color: #EEEEEE;
}

/* GRID */
.gridContainer{
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(4, 273.97px);

    /* espacios */
    grid-gap: 40px 30px;

    /* justify-content: space-around; */
    /* align-items: center; */

}
.game{
    background: lightgreen;
    border: 1px solid black;

}