/* Game list
Adventure Time\ deleted
Alien Himinid
Apex/
Call of duty 4/
Doom
Everspace
Farminf simulador 17/
Feeding frenzy 2
Fifa 18/
Fornite/
GTA V/
Gear of wars 4/
Ghost Recon/
Halo 5
Human fall flat/
Minecraft/
Mortal Combat X/
Ori/
PUBG/
Paladins\
Plants vs Zombies/
Red dead redemption II/
Riverbond/
Roblox/
Sea of thieves/
Los Sims 4
supermarket shriek/
Viva pinata
Surviving mars/ */
body{
    background: white;
    margin: 0;
    
}

/* GRID */
.gridContainer{
    background: black;
    /* margin-top: 60px; */
    /* padding-top: 1em; */
    padding: 4.7em 6.25em 0 6.25em;

    display: grid;
    grid-template-columns: repeat(4, minmax(139px, 288px));
    grid-template-rows: repeat(6, 492px);

    /* espacios */
    grid-gap: 1.25em 1.875em;

    /* justify-content: space-evenly; */
    /* align-items: center; */

    /* grid implicito */
    grid-auto-flow: row;
    grid-auto-rows: repeat(3,273px);


}
.game{
    background: white;
    /* defining a grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85% 15%;

}
.img{
    background: #2F2C2E;
    background-size: cover;

}
.gameTitle{
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'IBM Plex Sans', sans-serif; 
}

/* Adding the backgrounds */
.img1{
    background-image: url('../Images/covers/apex_cover.jpg');
    background-size: 100% 100%;
    /* background-size: cover; */
}
.img2{
    background-color: aqua;
    background-image: url('../Images/covers/COD4.jpg');
    background-size: 100% 100%;
}
.img3{
    background-color: aqua;
    background-image: url('../Images/covers/farming_cover.jpg');
    background-size: 100% 100%;
}
.img4{
    background-color: aqua;
    background-image: url('../Images/covers/fifa_18_coverl.jpg');
    background-size: 100% 100%;
}
.img5{
    background-color: aqua;
    background-image: url('../Images/covers/fornite.png');
    background-size: 100% 100%;
}
.img6{
    background-color: aqua;
    background-image: url('../Images/covers/gta_v_cover.jpg');
    background-size: 100% 100%;
}
.img7{
    background-color: aqua;
    background-image: url('../Images/covers/gear4_cover.jpg');
    background-size: 100% 100%;
}
.img8{
    background-color: aqua;
    background-image: url('../Images/covers/ghost_cover.png');
    background-size: 100% 100%;
}
.img9{
    background-color: aqua;
    background-image: url('../Images/covers/human_fall_cover.jpg');
    background-size: 100% 100%;
}
.img10{
    background-color: aqua;
    background-image: url('../Images/covers/minecraft_cover.jpg');
    background-size: 100% 100%;
}
.img11{
    background-color: aqua;
    background-image: url('../Images/covers/mortal_cover.jpg');
    background-size: 100% 100%;
}
.img12{
    background-color: aqua;
    background-image: url('../Images/covers/ori_cover.jpg');
    background-size: 100% 100%;
}
.img13{
    background-color: aqua;
    background-image: url('../Images/covers/pubg_cover.jpg');
    background-size: 100% 100%;
}
.img14{
    background-color: aqua;
    background-image: url('../Images/covers/paladins_cover.jpg');
    background-size: 100% 100%;
}
.img15{
    background-color: aqua;
    background-image: url('../Images/covers/plants_cover.jpg');
    background-size: 100% 100%;
}
.img16{
    background-color: aqua;
    background-image: url('../Images/covers/red_cover.jpg');
    background-size: 100% 100%;
}
.img17{
    background-color: aqua;
    background-image: url('../Images/covers/riverbond.jpg');
    background-size: 100% 100%;
}
.img18{
    background-color: aqua;
    background-image: url('../Images/covers/roblox_cover.jpg');
    background-size: 100% 100%;
}
.img19{
    background-color: aqua;
    background-image: url('../Images/covers/sea_cover.jpg');
    background-size: 100% 100%;
}
.img20{
    background-color: aqua;
    background-image: url('../Images/covers/supermarket.jpg');
    background-size: 100% 100%;
}
.img21{
    background-color: aqua;
    background-image: url('../Images/covers/surviving_cover.jpg');
    background-size: 100% 100%;
}

/* Media query */
@media screen and (max-width: 376px){
    .gridContainer{
        padding: 58px 15px 0 15px;
        grid-template-columns: repeat(2, 132px);
        grid-template-rows: repeat(9, 246px);
        justify-content: center;
        grid-gap: 40px 40px;
    }
    .gameTitle{
        font-size: 13px;
    }
    h3{
        margin-top: 5px;
    }

}